@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  margin: 0.5rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
  border-radius: 0.75rem;
}
button {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  border: 0.1rem #444444 solid;
  background-color: #f2d8ad;
  padding: 0.25rem;
  margin: 0.1rem;
  width: 100%;
  cursor: pointer;
}

disbutton {
  font-size: 0.75rem;
  padding: 0.2rem;
  margin: 0.1rem;
}

button.add {
  background-color: #4cbd79;
  width: 1.5rem;
}
button.remove {
  background-color: #f17777;
  width: 1.5rem;
}